name: CI

on:
    push:
        branches:
            - '**'
    pull_request:
        branches:
            - main

permissions:
    contents: read # to fetch code (actions/checkout)

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 16
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci --ignore-scripts

            - name: Run ESLint
              run: npm run-script lint

    fmt:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 16
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci --ignore-scripts

            - name: Run Prettier
              run: npx prettier --check .

    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 16
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci --ignore-scripts

            - name: Build app
              run: npm run-script build
